@{
    ViewData["Title"] = "Home Page";
}

@section RightSidebar {
    <aside class="right-sidebar p-3">
        <h4 class="text-center">Macros</h4>
    </aside>
}

<div class="text-center">
    <h1 class="display-4">Meal Prep</h1>
    <p>Under construction!</p>
</div>